# This file holds shared secrets or RSA private keys for authentication.

# RSA private key for this host, authenticating it to any other host
# which knows the public part.

miinalaiva.eu : RSA "/etc/ipsec.d/private/vpn-server-key.pem"
{{ vpn_user }} %any% : EAP "{{ vpn_password }}"
